<div class="example-container mat-elevation-z8">
  <div class="example-table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

          <ng-container matColumnDef="id_vacante">
              <th mat-header-cell *matHeaderCellDef>
                  <input matInput [formControl]="idVacanteFilter" placeholder="Id">
                  <span mat-sort-header></span>
              </th>
              <td mat-cell *matCellDef="let vacantes"> {{vacantes.id_vacante}} </td>
          </ng-container>

          <ng-container matColumnDef="id_entidad">
              <th mat-header-cell *matHeaderCellDef>
                  <input matInput [formControl]="idEntidadFilter" placeholder="Entidad">
                  <span mat-sort-header></span>
              </th>
              <td mat-cell *matCellDef="let vacantes"> {{vacantes.entidad}} </td>
          </ng-container>

          <ng-container matColumnDef="id_unidad_centro">
            <th mat-header-cell *matHeaderCellDef>
                <input matInput [formControl]="idUnidadCentroFilter" placeholder="Unidad Centro">
                <span mat-sort-header></span>
            </th>
            <td mat-cell *matCellDef="let vacantes"> {{vacantes.unidad_centro}} </td>
          </ng-container>

          <ng-container matColumnDef="num_alumnos">
            <th mat-header-cell *matHeaderCellDef>
                <input matInput [formControl]="numAlumnadoFilter" placeholder="num_alumnos">
                <span mat-sort-header></span>
            </th>
            <td mat-cell *matCellDef="let vacantes"> {{vacantes.num_alumnos}} </td>
          </ng-container>

          <ng-container matColumnDef="alumnos_admitidos">
            <th mat-header-cell *matHeaderCellDef>
                <input matInput [formControl]="numAlumnadoFilter" placeholder="vacantes">
                <span mat-sort-header></span>
            </th>
            <td mat-cell *matCellDef="let vacantes"> {{vacantes.alumnos_admitidos}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
                <button mat-icon-button (click)="addVacante()">
            <mat-icon>
              add_circle
            </mat-icon>
          </button>
            </th>
            <td mat-cell *matCellDef="let vacantes">
                <button mat-icon-button (click)="editVacante(vacantes)">
            <mat-icon>
              mode_edit
            </mat-icon>
          </button>
                <button mat-icon-button (click)="deleteVacante(vacantes)">
            <mat-icon>
              delete
            </mat-icon>
          </button>
            </td>
        </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
</div>
