.container {
  margin: 0 auto;
  min-width: 50em;
  min-height: 40em;
  text-align: center;
  padding-top: 10px;
}

div.mat-dialog-actions {
  width: 11.2em;
  margin: auto;
}

.radioButton {
  text-align: left;
  margin-bottom: 1em;
  padding-left: 0.2em;
}

.alumnado {
  display: flex;
  width: 90%;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
ul {
  list-style-type: none;
}

