<div class="container">
  <h3 mat-dialog-title>Editar {{ENTIDAD}}</h3>

  <form class="mat-dialog-content" [formGroup]="vacanteForm">

      <div class="form">
        <mat-form-field>
            <mat-label>Id de la unidad centro</mat-label>
            <mat-select formControlName="id_unidad_centro" required>
                <mat-option *ngFor="let idC of unidadCentro" [value]="idC.id_unidad_centro">
                    {{ idC.unidad_centro }}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field>
            <mat-label>Id de la entidad</mat-label>
            <mat-select formControlName="id_entidad" required>
                <mat-option *ngFor="let idC of entidad" [value]="idC.id_entidad">
                    {{ idC.entidad }}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <mat-label>Numero de alumnos</mat-label>
          <mat-select formControlName="num_alumnos" name="num_alumnos">
            <mat-option *ngFor="let option of range(alumnosSeleccionados.length,100)" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="alumnado">

        <div class="selected-alumnos">
          <h4>Alumnos Seleccionados:</h4>
          <ul>
            <li
            *ngFor="let alumno of alumnosSeleccionados">
            {{alumno.nombre}}
            <button mat-icon-button (click)="deSeleccionarAlumno(alumno)">
              <mat-icon>
                delete
              </mat-icon>
            </button>
          </li>
        </ul>
      </div>

      <div class="non-selected-alumnos">
        <h4>Alumnos no seleccionados:</h4>
        <ul>
          <li
          *ngFor="let alumno of alumnosNoSeleccionados">
          {{alumno.nombre}}
          <button mat-icon-button (click)="seleccionarAlumno(alumno)">
            <mat-icon>
              add_circle
            </mat-icon>
          </button>
        </li>
      </ul>
    </div>

  </div>

      <div mat-dialog-actions>
          <button mat-button id="onSubmit" type="submit" [disabled]="!vacanteForm.valid" (click)="confirmEdit()">Guardar</button>
          <button mat-button id="onNoClick" (click)="onNoClick()" tabindex="-1">Cancelar</button>
      </div>

  </form>
</div>
